body {
  background-color: #262c34;
  overflow: hidden;
}

input{
  background-color: #46536462 !important;
  color: aliceblue !important;
  text-align: center !important;
  height: 80px !important;
  width:  80px !important;
  border: 5px solid #465364 !important;
  font-size: 40px !important;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px !important;
  padding-left: 0px !important;
}

input:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-bottom: 12px solid #465364 !important;

} 