body {
  background-color: #262c34;
  overflow: hidden;
}

input{
  background-color: #465364 !important;
  color: aliceblue !important;
  text-align: center !important;
  height: 60px !important;
  width:  60px !important;
  border: none !important;
  font-size: 40px !important;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px !important;
  padding-left: 0px !important;
}

input:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 